{% extends 'layouts/base.html' %}


{% block content %}
{% if (current_user.is_authenticated) %} <h1>Hello {{ current_user.full_name() }} </h1>{% endif %},


<header class=jumbotron>
  <div class=container>
    <div class="row row-header">
      <div class="col-12 col-sm-6">
        <h1>TOPIAAS</h1>
        <p>Meet your work demands on the go!
        <ul>Access to any application through the browser.</ul>
        <ul>Could be used by individuals or organizations with 10+ clients.</ul>
        <ul>Scalable storage capacity.</ul>
        <ul>Fast interactive UI.</ul>
        <ul>Charging according to storage and time used for fair cost calculation.</ul>
        </p>
      </div>
      <div class="col-12 col-sm-6 align-self-center">
        <img src="/static/images/laptop.png" class="img-fluid">
      </div>
      <div class="col-12 col-sm-3 align-self-center">
        <a href='/demo'><button type="button" class="btn btn-warning btn-block button trynow-button">Try
            now</button></a>
      </div>

    </div>
  </div>
</header>
<div class=container>
  <div class="row row-content">
    <div class="col-12">
      <div id="mycarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox" style="background-color: #000000;">
          <div class="carousel-item active">
            <img class="d-block img-fluid" style='width: 100%; object-fit: cover;' src="/static/images/data.jpg"
              alt="Upload">
            <div class="carousel-caption d-none d-md-block">
              <h2>Upload</h2>
              <p class="d-none d-sm-block">Upload your tabular data</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" style='width: 100%; object-fit: cover;' src="/static/images/label.jpg"
              alt="Label">
            <div class="carousel-caption d-none d-md-block">
              <h2>Label</h2>
              <p class="d-none d-sm-block">Label the data</p>
            </div>
          </div>
          <div class="carousel-item ">
            <img class="d-block img-fluid" style='width: 100%; object-fit: cover;' src="/static/images/training.jpg"
              alt="Train">
            <div class="carousel-caption d-none d-md-block">
              <h2>Train</h2>
              <p class="d-none d-sm-block">Wait for training
              </p>
            </div>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
      </ol>
      <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="canvas-container">
    <div class="row row-header">
      <div class="col-12 col-sm-6">
        <canvas id="noVNC_canvas" width="1080" height="640" style="border:1px solid #000000;">
        </canvas>
      </div>
    </div>
  </div> -->
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- <script type="module">

  // RFB holds the API to connect and communicate with a VNC server
  // NEED TO FIX IMPORT. GET URL SINCE WE DONT HAVE LIBRARY HERE
  import RFB from "./static/node_modules/@novnc/novnc/core/rfb.js";

  window.onload = function () { connectVNC() };

  function connectVNC() {

    // hardcode values for now
    var
      DEFAULT_HOST = '172.18.0.4',
      DEFAULT_PORT = '80',
      DEFAULT_PASSWORD = "password1",
      DEFAULT_PATH = "websockify"
      ;
    var cRfb = null;
    var oTarget = document.getElementById("noVNC_canvas");

    var sHost = DEFAULT_HOST,
      nPort = DEFAULT_PORT,
      sPassword = DEFAULT_PASSWORD,
      sPath = DEFAULT_PATH
      ;
    cRfb = new RFB(oTarget, "ws://172.18.0.4:80");
    cRfb.connect(sHost, nPort, sPassword, sPath);
    debugger;

  };
</script> -->
{% endblock %}